@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h3">Read the tutorial - <a target="_blank" href="https://www.hosting.work/cqrs-mediatr-aspnet-core/">Implementing ASP.NET Core CRUD Operation with CQRS and MediatR Patterns</a></p>
</div>
